/******************************************************************

Stylesheet: 1960px以上のモニタで適用

******************************************************************/
/******************************************************************
.content
******************************************************************/
/******************************************************************
.hero
******************************************************************/
.hero{

    background-position: top -300px right -50px;
    background-size: 960px 960px;
}