/******************************************************************

Stylesheet: 768px以上のタブレットやモニタで適用

******************************************************************/
.flex{ //　_base.scssの値を継承している。
    flex-direction: row;
    flex-wrap: wrap;
}

/******************************************************************
.content
******************************************************************/
/******************************************************************
.header
******************************************************************/

/******************************************************************
.hero
******************************************************************/
.hero{
    padding-top: 100px;
    padding-bottom: 155px;

    &__inner{
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    &__texts{
        flex-basis: 40%;
    }
    &__texts-lg{
        margin-top: 0;
    }
    &__texts-md{
        margin-top: 20px;
    }
    &__btn{
        margin-top: 20px;
    }
    &__img{
        flex-basis: 50%;
        margin-bottom: 0;
    }
}

/******************************************************************
.main-content
******************************************************************/
/******************************************************************
.features
******************************************************************/
.features{
    padding: 70px 0 100px;

    &__header{
        & h2{
            font-size: 25px;
        }
    }
}

/******************************************************************
.high-speed
******************************************************************/
.high-speed{
    &__inner{
        margin-top: 50px;
        justify-content: space-between;
        align-items: center;
    }
    &__img{
        flex-basis: 37%;
    }
    &__texts{
        flex-basis: 40%;
        text-align: left;
        margin-top: 0;

        & .texts-sm{
            margin-top: 30px;
        }
    }
}

/******************************************************************
.high-quolity
******************************************************************/
.high-quolity{
    &__inner{
        margin-top: 50px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row-reverse;
    }

    &__img{
        flex-basis: 47%;
    }
    
    &__texts{
        text-align: left;
        flex-basis: 44%;
        margin-top: 0;

        & .texts-lr{
            
        }
        & .texts-md{
            
        }
    }
}

/******************************************************************
.quick-response
******************************************************************/
.quick-response{
    &__inner{
        margin-top: 50px;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__img{
        flex-basis: 47%;
    }
    &__texts{
        flex-basis: 45%;
        text-align: left;
        margin-top: 0;
    }
}

/******************************************************************
.price
******************************************************************/
.price{
    &__table{
        &-head{
            padding: 30px 10px;
        }
        &-body{
            padding: 30px 10px;
        }

    }
}

/******************************************************************
.f-and-q
******************************************************************/
.accordion{
    &__trigger{
        padding: 22px;
    }
    &__content{
        padding: 0 22px;

        &.is-open{
            padding: 22px;
        }
    }
}
/******************************************************************
.blog
******************************************************************/
.blog{
    &__cards{
        justify-content: space-between;

        & .card01{
            flex-basis: 31%;
        }
        & .card02{
            margin-top: 0;
            flex-basis: 31%;
        }
        & .card03{
            margin-top: 0;
            flex-basis: 31%;
        }
    }
    &__card{
        & .card-body{
            height: 135px;
            padding: 10px;
        }

    }

    
}

/******************************************************************
.works
******************************************************************/
//スワイパー
.swiper-slide{
    &__ul{
        margin: 34px 0 0;
    }
}
/******************************************************************
.contact
******************************************************************/
.contact{

    &__form{
        padding: 39px 40px 35px;
        
        & .name{
        
            & .your-name{
                width: 55%;
            }
        }
        & .email{
        
            & .your-email{
                width: 55%;
            }
        }
    }
}

/******************************************************************
.footer
******************************************************************/
.footer{

    &__texts{
        display: flex;
        justify-content: center;

        & .privacy{
            margin-right: 15px;
        }
        & .private-commerce{
            margin-left: 15px;
        }
    }
}