/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
//フォントサイズのユーティリティ
.font-sm{
    font-size: 14px; //12
}
.font-md{
    font-size: 16px; //14
}
.font-lr{ //larger
    font-size: 24px; //22
}
.font-lg{
    font-size: 32px; //25
}
/******************************************************************
header
******************************************************************/
.header{
    &__inner{
        & .mobile-menu{
            &__btn{
                display: none;
            }
        }
    }
    &__nav{
        display: block;

    }
    &__btn{
        display: block;
    }
}

/******************************************************************
.content
******************************************************************/
/******************************************************************
.hero
******************************************************************/
.hero{
    padding-top: 131px;
    padding-bottom: 193px;
    
    &__inner{
        
        align-items: center;
    }
    &__texts{
        flex-basis: 50%;
    }
    &__texts-md{
        margin-top: 38px;
    }
    &__btn{
        margin-top: 39px;
    }
    &__img{
        flex-basis: 50%;
        margin-bottom: 0;
    }
}

/******************************************************************
.main-content
******************************************************************/
/******************************************************************
.features
******************************************************************/
.features{
    padding: 70px 0 157px;

    &__header{

        & h3{
            margin-top: 65px;
        }
        & .sub-title{
            margin-top: 19px;
        }
    }
}

/******************************************************************
.high-speed
******************************************************************/
.high-speed{
    margin-top: 54px;

    &__header{
        & h3{
            font-size: 28px;
        }
    }
    &__inner{
        margin-top: 54px;
    }
    &__texts{
        & .texts-sm{
            margin-top: 54px;
        }
    }
}

/******************************************************************
.high-quolity
******************************************************************/
.high-quolity{
    margin-top: 93px;

    &__header{
        & h3{
            font-size: 28px;
        }
    }

    &__inner{
        margin-top: 64px;
    }

    &__img{
        
    }
    
    &__texts{
        & .texts-lr{
            
        }
        & .texts-md{
            margin-top: 49px;
        }
    }
}

/******************************************************************
.quick-response
******************************************************************/
.quick-response{
    margin-top: 143px;

    &__header{
        & h3{
            font-size: 28px;
        }
    }
    &__inner{
        margin-top: 67px;
    }
    &__img{
        flex-basis: 39%;
    }
    &__texts{
        flex-basis: 40%;
        text-align: left;
        margin-top: 0;

        & .texts-lr{
        
        }
        & .texts-md{
            margin-top: 42px;
        }
    }
}

/******************************************************************
.price
******************************************************************/
.price{
    &__table{
        &-head{
            padding: 40px 10px;
        }
        &-body{
            padding: 40px 10px;
        }

    }
}

/******************************************************************
.f-and-q
******************************************************************/
/******************************************************************
.blog
******************************************************************/
.blog{
    &__card{
        & .card-body{
            padding: 19px;
        }
    }
}

/******************************************************************
.works
******************************************************************/
