$cWhite: #FFFFFF;
$cDark: #333333;
$cSkyBlue: #3BA6C9;
$cBgLightBlue: #EEFBFB;
$cBorderGray: #E5E5E5;
$cBlack: #000000;
$cAccordionContentBg: #F2F2F2;
$cContactLeft: #26C4EE;
$cContactRight: #4DE7DF;
$cRequiredBg: #0C449B;
$cForm: #EEFBFB;

$contentMaxWidth: 1024px;
$cBlogMaxWidth: 1167px;
$headerHeight: 94px;
$cBlack: #000000;

